
.sandbox-preview-area {
    width: 100%;
    background: linear-gradient(to bottom right, rgb(179, 179, 179), rgb(241, 241, 241));
}

.sandbox-preview-container {
    border: 2px dashed gray;
}

.sandbox-preview-container p {
    display: inline-block !important;
    max-width: 40vw !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    user-select: none;
}

.sandbox-middle-bar { 
    box-sizing: border-box;
    border-top: 3px rgb(65, 65, 65) solid;
    border-bottom: 3px rgb(65, 65, 65) solid;
    width: 100%;
}

.sandbox-add-btn-group {
    width: 125px;
    height: 100%;
}

.sandbox-add-btn-group fa {
    font-size: 3vh;
}

.sandbox-add-btn-group p {
    text-align: center;
    font-size: 0.7rem;
    font-size: 0.9vw;
    max-width: 80%;
}

.sandbox-textarea {
    height: 100%;
    flex-grow: 1;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    border: 0;
    resize: none;
    outline: none;
    box-sizing: border-box;
    padding: 10px;
    background: rgb(230, 230, 230);
}

/*  text sandbox  */
#text-sandbox {
    width: 100%;
    display: grid;
    grid-template-rows: 43vh 10vh 33vh;
    margin: 0;
    padding: 0;
}

#image-sandbox {
    width: 100%;
    display: grid;
    grid-template-rows: 43vh 10vh 33vh;
    margin: 0;
    padding: 0;
}

#import-container {
    margin: 0 auto;
}

input[type="file"] {
    text-align: center !important;
    align-items: center !important;
}

#image-preview {
    max-width: 90%;
    max-height: 90%;
    margin: 0;
    padding: 0;
}


#gallery {
    width: 100%;
    height: auto;
    display: static;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.gallery-img-container {
    background: #000;
    margin: 6px;
    box-shadow: 3px 3px 3px gray;
    height: 75px;
    display: inline-block;
    position: relative;
}

.gallery-img {
    height: 100%;
    opacity: 0.9;
}

.gallery-img:hover {
    opacity: 1;
}

.delete-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #FFF;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    padding: 5px;
    margin: 5px;
    border: 2px #FFF solid;
    opacity: 0.6;
}

.delete-icon:hover {
    opacity: 0.9;
}

@media screen and (min-width: 1200px) {
    .sandbox-toolbar-btn-group p,
    .sandbox-add-btn-group p {
       font-size: 0.8rem;
    }
  }

