.sandbox-container  {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 500px 10px 1fr;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.preview-area {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgb(179, 179, 179), rgb(241, 241, 241));
}

.resizer {
    height: 10px;
    width: 100%;
    background: gray;
    cursor: row-resize
}

.middle-bar {
    width: 100%;
    height: 100px;
    background: rgb(65, 65, 65);
}

.sandbox-bottom {
    width: 100%;
    height: 100%;
    background: rgb(235, 235, 235);
}

/* #sandbox-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 500px 10px 1fr;
    grid-template-areas:
        "top"
        "middle"
        "bottom";
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.sandbox-preview-area {
    grid-area: top;
    width: 100%;
    height: 100%;
    min-width: 300px;
    background: linear-gradient(to bottom right, rgb(179, 179, 179), rgb(241, 241, 241));
    min-height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

#text-preview-container {
    margin: 0 auto;
    border: 3px dashed gray;
    max-width: 90%;
}

#text-preview-container p {
    display: inline-block !important;
    max-width: 40vw !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    user-select: none;
    position: relative;
}

#image-preview {
    max-width: 90%;
    max-height: 90%;
    margin: 0;
    padding: 0;
}

#sandbox-resizer {
    grid-area: middle;
    width: 100%;
    height: 100%;
    background: gray;
    position: relative;
}

#sandbox-resizer:hover{
    cursor:row-resize;
}



#text-input-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "textMiddlebar"
        "notes";
    height: 100%;
    width: 100%;
    grid-area: bottom;
    position: absolute;
    top: 0;
    left: 0;
}

#text-middle-bar { 
    grid-area: textMiddlebar;
    box-sizing: border-box;
    border-top: 3px rgb(65, 65, 65) solid;
    border-bottom: 3px rgb(65, 65, 65) solid;
    width: 100%;
    height: 100px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-areas: 
        "input add"
}

#image-input-container {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        "imageMiddlebar"
        "gallery";
    height: 100%;
    width: 100%;
    grid-area: bottom;
    position: absolute;
    top: 0;
    left: 0;
}

#sandbox-textarea{
    grid-area: input;
    flex-grow: 1;
    height: 100%;
    resize: none;
    outline: none;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    border: 0;
    outline: none;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

#image-middle-bar {
    grid-area: imageMiddlebar;
    display: grid;
    grid-template-columns: 1fr 1fr 100px;
    grid-template-rows: 1fr 25px;
    grid-template-areas:
        "import search add"
        "galleryTab searchTab add";
        font-size: 0.8rem;
    margin: 0;
    padding: 0;
    background: rgb(54, 54, 54);
    color: #FFF;
}

.middlebar-menu-tab {
    border: 0;
    margin: 0 auto;
    padding: 0;
    background: silver;
    width: 95%;
    height: 100%;
    text-align: center;
    color: rgb(70, 70, 70);
}

.middlebar-menu-tab fa {
    margin: 0 3px;
}

.tab-selected {
    background: rgb(224, 224, 224);
}

.sandbox-add-btn-group {
    grid-area: add;
    min-width: 100px;
    width: 100px;
    height: 100%;
}

.sandbox-add-btn-group:hover {
    background: rgb(139, 139, 139);
}

.sandbox-add-btn-group fa {
    font-size: 3vh;
}

.sandbox-add-btn-group p {
    text-align: center;
    font-size: 0.7rem;
    max-width: 80%;
}

#notes-textarea {
    grid-area: notes;
    min-width: 300px;
    height: 100%;
    width: 100%;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    border: 0;
    resize: none;
    outline: none;
    box-sizing: border-box;
    padding: 10px;
    background: rgb(230, 230, 230);
    position: relative;
}

#import-container {
    grid-area: import;
    width: 100%;
    height: 100%;
}

input[type="file"] {
    align-items: center !important;
}

#search-container {
    grid-area: search;
    width: 100%;
    height: 100%;
}

#pixabay-logo {
    height: 15px;
    width: 100%;
}

#pixabay-logo:hover {
    cursor: pointer;
}

#pixabay-logo path {
    fill: #FFF;
}

#pixabay-credits {
    width: 100%;
    height: auto;
    text-align: center;
}

#search-results,
#gallery {
    grid-area: gallery;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(224, 224, 224);
    padding: 20px;
    box-sizing: border-box;
}

.gallery-img-container {
    background: #000;
    margin: 6px;
    box-shadow: 3px 3px 3px gray;
    height: 75px;
    display: inline-block;
    position: relative;
}

.gallery-img {
    height: 100%;
    opacity: 0.9;
}

.gallery-img:hover {
    opacity: 1;
    cursor: pointer;
}

.delete-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #FFF;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    padding: 5px;
    margin: 5px;
    border: 2px #FFF solid;
    opacity: 0.6;
    font-size: 0.8rem
}

.delete-icon:hover {
    opacity: 0.9;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    /* .sandbox-toolbar-btn-group p,
    .sandbox-add-btn-group p {
       font-size: 0.8rem;
    } */
 

