<!-- Text sandbox -->
<div #container id="sandbox-container" class="grayAccent03" *ngIf="this.data.currentProject">
  <div class="flex-col-evenly sandbox-preview-area accent05" *ngIf="this.data.viewTextElements">
    <div id="text-preview-container">
      <p [ngStyle]="this.data.getTextStyleById(this.data.selectedTextStyleId).getCss()">{{this.data.sandboxText}}</p>
    </div>
  </div>

  <div class="flex-col-evenly sandbox-preview-area accent05" *ngIf="this.data.viewImageElements">
    <img id="image-preview" *ngIf="this.data.images[this.data.selectedImage]" [src]="this.data.images[this.data.selectedImage].url"
      [ngStyle]="this.data.getImageStyleById(this.data.selectedImageStyleId).getCss()">
  </div>

  <div #resizer id="sandbox-resizer">

  </div>

  <div id="text-input-container" *ngIf="this.data.viewTextElements">
    <div #middlebar id="text-middle-bar">
      <textarea id="sandbox-textarea" [(ngModel)]="this.data.sandboxText">

    </textarea>

      <a (click)="this.sandbox.addTextObjectToSlide()" class="sandbox-add-btn-group grayAccent02 flex-col-evenly">
        <fa name="share"></fa>
        <p>Add text object <br> to slide</p>
      </a>
    </div>

    <textarea id="notes-textarea" [(ngModel)]="this.data.textNotes">
    {{this.data.textNotes}}
  </textarea>
  </div>

  <div id="image-input-container" *ngIf="this.data.viewImageElements">
    <div #middlebar id="image-middle-bar" class="flex-row-between">
      <div class="flex-col-evenly" id="import-container">
        <p>Import an image:</p>

        <input type="file" (change)="this.data.uploadImage($event)">
      </div>

      <div class="flex-col-evenly" id="search-container">
          <p>Search for an image:</p>

          <div class="flex-row-center">
          <input type="text" [(ngModel)]="this.sandbox.imageSearchQuery">
          <button type="submit" (click)="this.showSearchResults(); this.sandbox.searchPixabay()">Search</button>
        </div>

      </div>

      <a class="middlebar-menu-tab flex-row-center" (click)="this.showGallery()" [class.tab-selected]="this.isGalleryMode">Gallery<fa name="th-large"></fa></a>

      <div class="middlebar-menu-tab flex-row-center" [class.tab-selected]="!this.isGalleryMode">
          <img id="pixabay-logo" src="https://pixabay.com/static/img/logo.svg" (click)="this.showSearchResults()">
        </div>

      <a (click)="this.sandbox.addImageObjectToSlide()" class="sandbox-add-btn-group grayAccent02 flex-col-evenly">
        <fa name="share"></fa>
        <p>Add image object to slide</p>
      </a>
    </div>

    <div *ngIf="this.isGalleryMode" id="gallery">
      <div *ngFor="let image of this.data.images" class="gallery-img-container">
        <img src="{{image.url}}" (click)="this.sandbox.selectImage(image.id)" class="clickable gallery-img">
        <fa name="trash" class="delete-icon flex-row-evenly" (click)="this.sandbox.deleteImageById(image.id)"></fa>
      </div>
    </div>


    <div *ngIf="!this.isGalleryMode" id="search-results">
      <div id="pixabay-credits">
      <h5>Image search powered by: <a href="https://pixabay.com/" target="__blank">Pixabay</a></h5>
    </div>
      
      <div *ngFor="let image of this.sandbox.imageSearchResults" class="gallery-img-container">
        <img src="{{image.previewURL}}" class="gallery-img">
        <fa name="plus" class="delete-icon flex-row-evenly" (click)="this.sandbox.pixabayToGallery(image.largeImageURL)"></fa>
      </div>
    </div>

  </div>
</div>