<!-- Sandbox toolbar -->
<div class="grayAccent02 flex-row-evenly">
  <a (click)="this.data.test()" class="flex-row-evenly md-btn">
    <fa name="font" size="3x" class="accent03 object-icon"></fa>
    <p>Create a new text object</p>
  </a>

  <a (click)="this.data.test()" class="flex-row-evenly md-btn">
    <fa name="image" size="3x" class="accent03 object-icon"></fa>
    <p>Create a new image object</p>
  </a>

  <a (click)="this.data.test()" class="flex-row-evenly md-btn">
    <fa name="shapes" size="3x" class="accent03 object-icon"></fa>
    <p>Create a new shape object</p>
  </a>
</div>

<!-- Text sandbox -->
<div id="text-sandbox" class="grayAccent03">
  <div id="text-preview-container">
    <div class="dotted-border">
      <p id="text-preview">The quick brown fox jumps over the lazy dog.</p>
    </div>
  </div>

  <div class="flex-row-evenly">
    <textarea>
      User text input here
    </textarea>
    <a (click)="this.data.test()" class="lg-btn flex-col-evenly grayAccent02">
      <fa name="share" size="3x"></fa>
      <p>Add text object to slide</p>
    </a>
  </div>

  <textarea>
    Workspace
  </textarea>
</div>