<div #container class="sandbox-container" id="shape-sandbox">
  shape sandbox
  <div class="preview-area flex-col-center">
    <div [innerHTML]="previewShapeObject.getSvgHtml()">
      
    </div>




    <div class="flex-row-center grayAccent02" id="preview-toolbar">
      <fa name="search-minus" class="flex-row-evenly" (click)="zoom('out')"></fa>
      <input type='range' [(ngModel)]="previewRenderMagnification" min="0" max="300">
      <fa name="search-plus" class="flex-row-evenly" (click)="zoom('in')"></fa>
      <p><input type="number" [(ngModel)]="previewRenderMagnification">%</p>
    </div>
  </div>

  <div #resizer class="resizer"></div>

  <div class="sandbox-bottom">
    <div #middlebar class="middle-bar">
      <div class="flex-row-center shape-input-area">
        <h3>Select a shape:</h3>

      </div>

      <a (click)="this.sandbox.addToSlide('shapeObject')" id="sandbox-add-btn-group" class="grayAccent02 flex-col-center">
        <fa name="share"></fa>
        <p>Add shape object to slide</p>
      </a>
    </div>

    <div class="shape-selector">
      <h1>Shape selector</h1>

    </div>
  </div>
</div>