
#toolbar2 {
    height: auto;
    margin: 0;
    padding: 0;
}

.toolbar2-btn-group {
    height: 100%;
    width: auto;
    padding: 10px 15px;
}

#slide-nav-group fa:hover,
.toolbar2-btn-group:hover {
    background: rgb(100, 100, 100);
}

.toolbar2-btn-group fa {
    font-size: 1.1rem;
    margin: 0;
    padding: 2px 4px;
}

.dashed-border {
    border: 2px dashed;
    border-radius: 2px;
}

.toolbar2-btn-group p {
    text-align: center;
    font-size: 0.7rem;
    margin: 0 10px;
    white-space: nowrap;
}

#slide-nav-group fa {
    font-size:1.2rem;
    padding: 15px;
}

#slide-number {
    font-size: 1.5rem;
}

@media only screen and (max-width: 1199px) {
    .toolbar2-btn-group {
        flex-direction: column;
        padding: 7px;
    }

    .toolbar2-btn-group p {
        padding-top: 5px;
    }
}

@media only screen and (max-width: 999px) {
    .toolbar2-btn-group p {
        display: none;
    }
}
