#dashboard-container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 100vh;
    grid-template-areas: "nav content";
    max-width: 100vw;
    max-height: 100vh;
}

/*  Dashboard left navigation bar */
#dashboard-nav {
    width: 100%;
    height: 100%;
    grid-area: nav;
}

.dashboard-nav-link {
    display: block;
    width: 100%;
    height: auto;
    padding: 20px 0;
    text-align: center;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.dashboard-nav-link:hover {
    background: rgba(255, 255, 255, 0.3);
}

.selected {
    background: rgb(71, 78, 69);
}

/*  Dashboard right content */
.dashboard-content {
    width: 100%;
    height: 100%;
    grid-area: content;
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
    overflow-y: auto;
}

.dashboard-content > * {
    margin: 25px auto;
}

#no-projects {
    width: 100%;
    text-align: center;
    margin: 75px auto;
}

/* Dashboard PROJECTS view */
#create-project-btn {
    width: 300px;
    min-height: 50px;
    font-size: 1.2rem;
    text-align: center;
    position: relative;
}

#projects-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.project-card {
    width: 200px;
    height: auto;
    margin: 20px;
    padding: 0 15px 15px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.project-card-title {
    text-align: center;
    margin: 10px auto 5px auto;
}

.project-card img {
    width: auto;
    height: 100px;
    margin: 5px auto;
}

.project-card p {
    margin: 5px 0 0 0;
    font-size: 0.8rem;
    text-align: left;
    width: 100%;
}

.project-card button {
    width: 75px;
    padding: 5px 0;
    margin: 10px 5px 0 5px;
}

/*  Project creator  */

.popup-form-overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.popup-form {
    width: 500px;
    height: auto;
    padding: 25px;
    border-radius: 10px;
    background: #FFF;
}

.popup-form p {
    font-size: 0.8rem;
    margin: 3px 3px 0 3px;
}

.popup-form > * {
    margin: 15px auto;
}

.popup-form input[type="password"],
.popup-form input[type="text"] {
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    padding: 0 10px;
    border: 1px silver solid;
    border-radius: 5px;
}

.popup-form button {
    padding: 10px 25px;
    margin: 0 5px;
    font-size: 1rem;
    width: 200px;
}


#doc-sizes {
    width: 100%;
}

.form-alert {
    font-size: 0.7rem;
    color: red;
    margin: 3px auto 0 auto;
}

.popup-form input[type="number"] {
    width: 50px;
    text-align: center;
}

.popup-form
.material-icons {
    font-size: 48px;
}

/*  Dashboard SETTINGS view */

hr {
    margin: 20px auto;
}

#settings-container {
    width: 90%;
    max-width: 700px;
}

#settings-container > div {
    margin: 20px auto;
}

#settings-container button {
    width: 175px;
    padding: 10px 0;
}