<div class="flex-row-evenly component-container">

  <div id="home-content-container">
    <div id="home-left-content" class="flex-col-start">

      <h1 id="app-brand">Name Here</h1>
      <p>Produce beautiful creative content right in your web browser.  No installations required!</p>
      <ul id="description-list">
        <li><fa name="check"></fa>Create presentation slideshows</li>
        <li><fa name="check"></fa>Web design templates</li>
        <li><fa name="check"></fa>Generate PDF Documents</li>
        <li><fa name="check"></fa>Image editing</li>
        <li><fa name="check"></fa>Google Fonts library and Pixabay image search, all in one place.</li>
      </ul>

      <button routerLink="main" class="cta-btn">Use as guest</button>
    </div>

    <div id="home-right-content" class="flex-col-start">
      <div class="app-theme" id="forms-container">
        <div id="forms-container-nav" class="flex-row-evenly">
          <button (click)="showForm('login')">Login</button>
          <button (click)="showForm('registration')">Register</button>
        </div>
        <login *ngIf="showLogin"></login>
        <registration *ngIf="showRegistration"></registration>
      </div>
    </div>
  </div>


</div>