<div class="flex-row-evenly component-container">

  <div id="home-content-container">
    <div id="home-left-content" class="flex-col-start">

      <h1 id="app-brand">Name of App</h1>
      <p id="description">Description here. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
        beatae omnis. Nobis ad
        exercitationem ex officiis eius. Commodi, obcaecati omnis...</p>

      <button routerLink="main" class="cta-btn">Use as guest</button>
      <img id="splash" src="../../assets/splash.jpg">

    </div>

    <div id="home-right-content" class="flex-col-start">
      <div class="app-theme" id="forms-container">
        <div id="forms-container-nav" class="flex-row-evenly">
          <button (click)="showForm('login')">Login</button>
          <button (click)="showForm('registration')">Register</button>
        </div>
        <login *ngIf="showLogin"></login>
        <registration *ngIf="showRegistration"></registration>
      </div>
    </div>
  </div>


</div>