#app-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 250px 1fr 10px 1fr;
    grid-template-areas:
        "toolbar toolbar toolbar toolbar"
        "styler toolbar2 toolbar2 toolbar2"
        "styler sandbox resizer editor"
}

#toolbar {
    grid-area: toolbar;
    margin: 0;
    padding: 0;
}

#toolbar-secondary {
    grid-area: toolbar2;
    margin: 0;
    padding: 0;
}

#styler {
    grid-area: styler;
    width: 100%;
    height: 100%;
}

#sandbox {
    grid-area: sandbox;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#slide-editor {
    grid-area: editor;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#resizer {
    grid-area: resizer;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: silver;
}

#resizer:hover {
    cursor: col-resize;
}