#app-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 8vh 92vh;
    grid-template-columns: 300px auto 41vw;
    grid-template-areas:
        "toolbar toolbar toolbar"
        "styler sandbox editor"
}

#toolbar {
    grid-area: toolbar;
    margin: 0;
    padding: 0;
}

#styler {
    grid-area: styler;
    overflow-y: scroll;
    padding-bottom: 300px;
}

#sandbox {
    grid-area: sandbox;
}

#slide-editor {
    grid-area: editor;
}