#app-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 8vh 92vh;
    grid-template-columns: 300px minmax(41vw, 1fr) 41vw;
    grid-template-areas:
        "toolbar toolbar toolbar"
        "styler sandbox editor"
}

#toolbar {
    grid-area: toolbar;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
}

#styler {
    grid-area: styler;
    /* overflow-x: hidden; */
    overflow-y: scroll;
    padding-bottom: 180px;
}

#sandbox {
    grid-area: sandbox;
    overflow: visible;
}

#slide-editor {
    grid-area: editor;
    overflow: visible;
    /* overflow: hidden; */
}