#slide-editor-workspace {
    width: 41vw;
    display: grid;
    grid-template-rows: 43vh 43vh;
    margin: 0;
    padding: 0;
} 

#slide-render-area {
    height: 100%;
    width: 41vw;
    overflow: scroll;
    background: linear-gradient(to bottom right, rgb(16, 16, 17), rgb(53, 53, 53));
}

.slide-object {
    overflow: hidden;
    user-select: none;
}

.slide-object img {
    max-height: 100%;
    max-width: 100%;
}

/*  Styling of slideObjects while being dragged or resized is controlled from within the SlideObjects class */
.slide-object:hover{
    cursor: move;
    background: rgba(0, 0, 0, 0.3);
    border: 2px dashed gray;
    margin-top: -2px;
    margin-left: -2px;
}

#slide-control {
    height: 100%;
    width: 100%;
}

#slide-control-toolbar {
    width: 100%;
    padding: 5px;
    background: rgb(46, 46, 46);
    flex-wrap: wrap;
}

#slide-control-toolbar fa {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    cursor: pointer;
}

#slide-control-toolbar fa:hover {
    background: rgb(87, 87, 87);
}

#slide-control-toolbar p {
    font-size: 0.7rem;
    margin: 0 5px;
}

input[type="range"]{
    width: 5vw;
}

input[type="number"]{
    width: 45px;
    margin: 0 3px;
    padding: 2px;
    box-sizing: border-box;
    background: transparent;
    color: #FFF;
    border: 1px #FFF solid;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="text"]{
    width: 85%;
}

#heirarchy {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.heirarchy-control-group {
    font-size: 0.7rem;
    overflow: hidden;
    padding: 2px 0;
    font-weight: normal;
}

.heirarchy-control-group h5 {
    font-weight: normal;
}

.heirarchy-control-group fa {
    font-size: 0.75rem;
    padding: 5px;
}

.heirarchy-control-group fa:hover {
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}

#heirarchy
input[type="text"]{
    margin: 0 3px;
    padding: 2px;
    box-sizing: border-box;
    background: transparent;
    color: #FFF;
    border: 1px #FFF solid;
}

.heirarchy-name {
    width: 100px;
}

.heirarchy-content {
    width:100px;
}

.heirarchy-dim {
    width: 250px;
}

.heirarchy-content-misc {
    width: 150px;
}

.slide-control-row {
    width: 100%;
    flex-wrap: wrap;
    padding: 2px 0;
    border-bottom: 3px rgb(81, 133, 81) solid; 
}

.md-color-selector {
    width: 100px;
    height: 10px;
    border: 1px #D6F9DD solid;
    outline: none;
}

.md-color-selector:hover {
    cursor: pointer;
}


@media screen and (min-width: 1200px) {
    .slide-editor-toolbar-btn-group p {
       font-size: 0.8rem;
    }

    #slide-number {
        font-size: 1.5rem;
    }
  }



