#slide-editor-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}

#slide-render-container {
    height: 100%;
    width: 100%;
    overflow: scroll;
    background: linear-gradient(to bottom right, rgb(16, 16, 17), rgb(53, 53, 53));
}


#slide-control-panel {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.slide-render {
    background: #FFF;
    margin: 0 auto;
    position: relative;
}

.slide-control-row {
    width: 100%;
    border-bottom: 3px rgb(81, 133, 81) solid;
    
}

#slide-settings {
    height: 50px;
    width: 100%;
}

input[type="number"]{
    width: 40px;
    margin: 0 3px;
}

.slide-object {
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

.slide-object p {
    box-sizing: border-box;
}

.slide-object:hover{
    cursor: move;
    border: 1px silver dashed;
    box-sizing: border-box;

}


