#slide-editor-toolbar {
    height: 6vh;
    margin: 0;
    padding: 0;
}

.slide-editor-toolbar-btn-group {
    height: 100%;
    width: 20%;
    max-width: 150px;
    padding: 0 15px;
}

.slide-editor-toolbar-btn-group:hover {
    background: rgb(100, 100, 100);
}

.slide-editor-toolbar-btn-group fa {
    font-size: 3vh;
    margin: 0;
    padding: 2px 4px;
}

.slide-editor-toolbar-btn-group p {
    text-align: center;
    font-size: 0.7rem;
    font-size: 0.9vw;
    margin: 0 10px;
    padding: 0;
    white-space: nowrap;
}

#slide-editor-workspace {
    width: 100%;
    display: grid;
    grid-template-rows: 42.5vh 42.5vh;
    margin: 0;
    padding: 0;
}

#slide-render-container {
    height: 100%;
    width: 100%;
    overflow: scroll;
    background: linear-gradient(to bottom right, rgb(16, 16, 17), rgb(53, 53, 53));
}


#slide-control-panel {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.slide-render {
    background: #FFF;
    margin: 0 auto;
    position: relative;
}

.slide-control-row {
    width: 100%;
    border-bottom: 3px rgb(81, 133, 81) solid;
    
}

#slide-settings {
    height: 50px;
    width: 100%;
}

input[type="number"]{
    width: 40px;
    margin: 0 3px;
}

.slide-object {
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

.slide-object p {
    box-sizing: border-box;
}

.slide-object img {
    max-height: 100%;
    max-width: 100%;
}

.slide-object:hover{
    cursor: move;
    background: rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1200px) {
    .slide-editor-toolbar-btn-group p {
       font-size: 0.8rem;
    }
  }



