#style-selector {
    height: 90%;
    width: 60%;
    overflow-x: hidden;
    overflow-y: auto;
}

.style-btn {
    text-decoration: none;
    padding: 5px;
    width: 125px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    text-align: center;
}

.style-btn:hover {
    background: rgb(202, 228, 191);
}